option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.x
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    CART_SERVICE_URL: "http://radius486-cart-api-develop.eu-west-1.elasticbeanstalk.com/api/profile/cart"
    PRODUCT_SERVICE_URL: "http://hq21lip4pj.execute-api.eu-west-1.amazonaws.com/prod/products"
